<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A New SitRep Has been created</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body cellpadding="0" cellspacing="0" width="100%">
    <table width="800px">
        <tr>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#EF5332" style="color:#343434">
                        <h1>SitReper</h1>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#343434" style="padding: 40px 0 30px 0; color:white">
                        <h2>A New SitRep has been created!</h2>
                        <p>
                            You can access it by clicking here:
                            <a style="color:white" href="{{link}}">{{link}}</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#EF5332" style="color:#343434">
                        <p>
                           This email was sent by a robot.
                        </p>
                    </td>
                </td>
            </table>
        </tr>
    </table>
</body>
</html>