<div id="content">
    <div class="centered-box">
        <h1>SitReper</h1>
        <h2>A better way to generate situation reports.</h2>
        <h3>Success!</h3>
        <p>You have been sent an email with instructions on how to access your new SitRep</p>
    </div>
</div>
<div id="footer">
    {{>footer}}
</div>