<div class="centered-box">
    <h1>Sorry</h1>
    <h2>This SitRep has not yet been activated.</h2>
    <p>An activation link should have been sent to the email provided by the SitRep creator.</p>
</div>