<div class="centered-box">
    <h1>Complete SitRep Setup</h1>
    <h2>for: <em>{{sitRep.name}}</em></h2>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <p>Set a password this sitRep's owner: <em>{{email}}</em></p>
        <div class="validationMessage">
            {{validationMessage}}
        </div>
        <p>
           <span>
               Password
           </span> 
           <span>
               <input id="passwordInput" name="password" style="width:100%; font-size:1.2em;" type="password" required />
           </span>
        </p>
         <p>
           <span>
               Confirm
           </span> 
           <span>
               <input id="confirmInput" name="confirm" style="width:100%; font-size:1.2em;" type="password" required />
           </span>
        </p>
        <p>
            <input type="submit" class="button" value="Take me to my new SitRep!" />
        </p>
    </form>
</div>